{% extends 'FantasiaBundle:Default:base.html.twig' %}

{% block title %} Modificar Presupuesto {% endblock %}

{% block contenido %}
	{% include 'FantasiaBundle:Default:menu.html.twig' %}
    <h1 id="titulo">Modificar Presupuesto</h1>
	<div class="formAutogenerado">
    {{ form(edit_form) }}
	
	<script type="text/javascript">
    $( document ).ready(function() {
	    $('#tabla').dataTable( {
		"language": {
             "url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/Spanish.json"
        },
		"sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>"
		} );
	});
</script>	
    <h1>Carpinter&iacute;as</h1>
	
	{% set total = 0 %}
   <table class="table table-striped" id="tabla">
        <thead>
            <tr>
				<th id="thcenter">Modelo</th>
				<th id="thcenter">Marca</th>
                <th id="thcenter">Alto</th>
                <th id="thcenter">Ancho</th>
                <th id="thcenter">Premarco</th>
                <th id="thcenter">Contramarco</th>
                <th id="thcenter">Cantidad</th>
				<th id="thcenter">Precio</th>
                <th id="sinaccion"></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in carpinterias %}
			{% set suma = 0 %}
            <tr>
                <td>{{ entity.asignacion.modelo.nombre }}</td>
				<td>{{ entity.asignacion.marca.nombre }}</td>
                <td>{{ entity.alto }}</td>
                <td>{{ entity.ancho }}</td>
				{% if entity.premarco==1 %}
					{% set suma = (((entity.alto+entity.ancho)*2*entity.asignacion.precioPremarcoML)*entity.cantidad) %}
					<td>Si</td>
				{% else %}
					<td>No</td>
				{% endif %}
				{% if entity.contramarco==1 %}
					{% set suma = suma + (((entity.alto+entity.ancho)*2*entity.asignacion.precioContramarcoML)*entity.cantidad) %}
					<td>Si</td>
				{% else %}
					<td>No</td>
				{% endif %}
                <td>{{ entity.cantidad }}</td>
				
				{% set suma = suma + (((entity.alto+entity.ancho)*2*entity.asignacion.precioxML)*entity.cantidad)%}
				{% set suma = suma + (((entity.alto*entity.ancho)*entity.vidrio.precioxm2)*entity.cantidad) %}
				<td>$ {{suma|number_format(2)}}</td>
				{% set total = (total + suma) %}
                <td>
					<a href="{{ path('carpinteria_edit', { 'id': entity.id }) }}" <span class="glyphicon glyphicon-pencil"></span></a>
				
					<a href="{{ path('carpinteria_delete', { 'id': entity.id }) }}"<span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        {% endfor %}
			
        </tbody>
		<tfoot>
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th id="thcenter">Total:</th>
				<td>$ {{total|number_format(2)}}</td>
				<th></th>
			</tr>
		</tfoot>
    </table>
	
	</div>
{% endblock %}