{% extends 'FantasiaBundle:Default:base.html.twig' %}

{% block title %} Listado de Presupuestos {% endblock %}

{% block contenido %}
<script type="text/javascript">
    $( document ).ready(function() {
	    $('#tabla').dataTable( {
		"language": {
             "url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/Spanish.json"
        },
		"sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>"
		} );
	});
</script>	
	{% include 'FantasiaBundle:Default:menu.html.twig' %}
    <h1>Presupuestos</h1>
	
    <table class="table table-striped" id="tabla">
        <thead>
            <tr>
                <th id="thcenter">Fecha</th>
				<th id="thcenter">Cliente</th>
                <th id="thcenter">Costo envio</th>
                <th id="thcenter">Costo colocacion</th>
                <th id="thcenter">Plazo entrega</th>
                <th id="thcenter">Monto carpinterias</th>
				<th id="thcenter">Total Presupuesto</th>
                <th id="sinaccion"></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.fecha|date('d-m-Y')}}</td>
				<td>{{ entity.cliente.apellido}} {{entity.cliente.nombre}}</td>
                <td>$ {{ entity.costoEnvio|number_format(2) }}</td>
                <td>$ {{ entity.costoColocacion|number_format(2) }}</td>
                <td>{{ entity.plazoEntrega }}</td>
                <td>$ {{ entity.montoTotalCarpinterias|number_format(2) }}</td>
				<td>$ {{ (entity.costoEnvio+entity.costoColocacion+entity.montoTotalCarpinterias)|number_format(2) }}
                <td>
					<a href="{{ path('presupuesto_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
					<a href="{{ path('presupuesto_mail', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-envelope"></span></a>
					<a href="{{ path('presupuesto')}}{{entity.id}}/imprimirlistado.pdf" target="_blank"><span class="glyphicon glyphicon-eye-open"></span></a>
					<a href="{{ path('presupuesto_delete', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	<a href="{{ path('presupuesto_new') }}" class="btn btn-primary">Nuevo Presupuesto</a>
    {% endblock %}
