<!-- <header class="col-md-12 col-sm-12 col-xs-12"> -->

<div class="container">
		{%  image  '@FantasiaBundle/Resources/public/images/logo.jpg'  %} 
			<img  src= "{{  asset_url  }}"  alt= "Example" /> 
		{%  endimage  %}
		<div id="user">
		<span>Usuario: {{ app.user.username}} | </span>
			<a href="{{ path('fos_user_security_logout') }}">
				{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
			</a>
		</div>
	</div>


<!-- </header> -->

<div class="container">
	<div class="col col-sm-12">
		<nav class="navbar navbar-default" role="navigation"> 
			<div class="container-fluid"> 
  				<div class="navbar-header">
    				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      					<span class="sr-only">Desplegar navegación</span>
      					<span class="icon-bar"></span>
      					<span class="icon-bar"></span>
      					<span class="icon-bar"></span>
    				</button>
    				<a class="navbar-brand" href="{{ path('fantasia_homepage') }}">
    					<span class="glyphicon glyphicon-home"> Inicio </span>
    				</a>
  				</div>
   				<div class="collapse navbar-collapse navbar-ex1-collapse">
    				<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Clientes <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="{{ path('cliente_new') }}" >Agregar Cliente</a></li>
								<li><a href="{{ path('cliente') }}">Listado de Clientes</a></li>
							</ul>
						</li>
							
							<li class="dropdown"> 
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									Aberturas <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">	
									<li><a href="{{ path('marca_new') }}">Agregar Marca</a></li>
									<li><a href="{{ path('marca') }}">Listado de Marcas</a></li>
									<li><a href="{{ path('modelo_new') }}">Agregar Modelo</a></li>
									<li><a href="{{ path('modelo') }}">Listado de Modelos</a></li>
									<li><a href="{{ path('abertura_new') }}">Agregar Abertura</a></li>
									<li><a href="{{ path('abertura') }}">Listado de Aberturas</a></li>
									<li><a href="#">Catalogo Aberturas</a></li>
								</ul>
							</li>
							<li class="dropdown"> 
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									Vidrios <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">	
									<li><a href="{{ path('vidrio_new') }}">Agregar Vidrio</a></li>
									<li><a href="{{ path('vidrio') }}">Listado de Vidrios</a></li>
									<li><a href="#">Catalogo Vidrios</a></li>
								</ul>
							</li>
							<li class="dropdown"> 
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									Presupuestos <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">	
									<li><a href="{{ path('presupuesto_new') }}">Agregar Presupuesto</a></li>
									<li><a href="{{ path('presupuesto') }}">Filtrar Presupuesto</a></li>
								</ul>
							</li>
							<li class="dropdown"> 
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									Contacto <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">	
									<li><a href="#">Datos</a></li>
									<li><a href="{{ path ('_dump') }}">Dump de Datos</a></li>								
								</ul>
							</li>
								
    				</ul>
  				</div>
  			</div>		
		</nav>
	</div>
</div>
