{% extends 'FantasiaBundle:Default:base.html.twig' %}

{% block title %} Listado Clientes {% endblock %}

{% block contenido %}
<script type="text/javascript">
    $( document ).ready(function() {
	    $('#tabla').dataTable( {
		"language": {
             "url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/Spanish.json"
        },
		"sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>"
		} );
	});
	 function confirmar(){
        if (confirm("¿Realmente desea borrar el cliente?") == true) {
            if (confirm("Usted va a borrar todos los presepuestos asociados a este cliente. Confirma la acción?")){
			return true
			}
			else{
				return false;
			}
        }
		else
		{
          return false;
        }
      }
</script>	
	{% include 'FantasiaBundle:Default:menu.html.twig' %}
    <h1>Listado de clientes</h1>
	
    <table class="table table-striped" id="tabla">
        <thead>
            <tr>
                <th id="thcenter">Nombre</th>
                <th id="thcenter">Apellido</th>
                <th id="thcenter">Email</th>
                <th id="thcenter">Tel&eacute;fono</th>
                <th id="thcenter">Domicilio</th>
                <th id="thcenter">Observaciones</th>
                <th id="sinaccion"></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
			<tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.apellido }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.domicilio }}</td>
                <td>{{ entity.observaciones }}</td>
				<td>
					<a href="{{ path('cliente_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
				
					<a href="{{ path('cliente_delete', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-trash" onclick="return confirmar()"></span></a>
				
				</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	<a href="{{ path('cliente_new') }}" class="btn btn-primary" >
                Agregar Cliente
    </a>
	
    {% endblock %}
