{% extends 'FantasiaBundle:Default:base.html.twig' %}

{% block title %} Modificar Abertura {% endblock %}

{% block contenido %}
	<script>
	 $(document).ready(function(){
		$(":file").filestyle('placeholder', '{{entity.path}}');
	
	 })
	 
	$(function() {
	
		 $("input:file").change(function (){
		   $( "#addForm" ).css( "display", "none" );
		 
		 });
	});
	</script>
	{% include 'FantasiaBundle:Default:menu.html.twig' %}
	
    <h1 id="titulo">Modificar Abertura</h1>
	
	<div class="form-group" id="addForm">
		<img src="{{ asset('bundles/fantasia/images/'~ entity.path) }}" id="editAbertura" > 
	</div>
	
	<div class="formAutogenerado">
		{{ form_start(edit_form) }}
		  {{ form_widget ( edit_form.file )}} 
		{{ form_end(edit_form) }}  
	</div>
	
{% endblock %}
