{% extends 'FantasiaBundle:Default:base.html.twig' %}

{% block title %} Ver Abertura {% endblock %}

{% block contenido %}
 
	{% include 'FantasiaBundle:Default:menu.html.twig' %}
    <h1>Ver Abertura</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Precio Premarco m.lineal</th>
                <td>{{ entity.precioPremarcoML }}</td>
            </tr>
            <tr>
                <th>Precio Contramarco m.lineal</th>
                <td>{{ entity.precioContramarcoML }}</td>
            </tr>
            <tr>
                <th>Precio m.lineal</th>
                <td>{{ entity.precioxML }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td> 
		
		<img src="{{ asset('bundles/fantasia/images/'~ entity.path) }}" > 
				
				</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions" id="listaopciones">
    
        <a href="{{ path('abertura') }}" class="btn btn-primary">
            Volver a la lista
        </a>
   
        <a href="{{ path('abertura_edit', { 'id': entity.id }) }}" class="btn btn-primary">
            Modificar
        </a>
    
 
</ul>
{% endblock %}
