{% extends 'FantasiaBundle:Default:base.html.twig' %}

{% block title %} Nueva Carpinter&iacute;a {% endblock %}

{% block contenido %}
	{% include 'FantasiaBundle:Default:menu.html.twig' %}
    <h1 id="titulo">Agregar Carpinter&iacute;a</h1>
    <div class="formAutogenerado">
	        {{ form_row(form.asignacion.modelo) }} 
	        {{ form_row(form.asignacion.marca) }}
			{{ form_row(form.asignacion.precioPremarcoML)}}
			{{ form_row(form.asignacion.precioContramarcoML) }}
			{{ form_row(form.asignacion.precioxML) }}
	        {{ form_row(form.asignacion.descripcion) }}
			{{ form_row(form.alto)}}
			{{ form_row(form.ancho)}}
			{{ form_row(form.premarco)}}
			{{ form_row(form.contramarco)}}
			{{ form_row(form.cantidad)}}
	        <button type="submit" value="Agregar">Agregar</button>
            <button type="button" value="Volver">Volver al Presupuesto</button>
			<!-- {{ form(form) }} -->
		
	</div>
{% endblock %}
